*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	background: black;
	width: 100%;
	height: 100%;
}
.main{
	width: 100%;

	height: 100%;
   position: relative;
}
.nav{
	width: 100%;
	height: 100px;
	display: flex;

	align-items: center;
	justify-content: space-between;
	
	color: white;
	font-size: 1.5vw;
	font-weight: 700;
	font-family: Gilroy;
	padding: 0 3vw;
	
	


}

.nav h1 span{
	color:red;
}




.navl{




	color: white;
	font-size: 1vw;
	font-weight: 700;
	font-family: Gilroy;
	display: flex;
	gap: 2vw;




}
.navl :hover{
	cursor: pointer;
	
	border-bottom: 3px solid red;
	transition:.1s;


}

.homepage{

     height: 100%;
     width: 100%;
     display: flex;
     position: relative;

}
.left{
	width: 50%;
	height: 100%;
	

}
.left h2{
	padding: 10vw 4vw;
	color: white;
	font-size: 4vw;
	font-weight: 700;
}
.left h2 span{
	color: red;
}


.right{
	width: 50%;
	height: 100%;
	
	display: flex;
	justify-content: center;



	

}
.right img{


	width: 60%;
	height: 60%;
	margin-top: 3vw;
	border-radius: 10%;
	filter: drop-shadow(10px 20px 10px silver);

	

	


	


}

h1{
	display: flex;
	justify-content: center;
	justify-items: center;

	
	font-size: 5vw;
	font-family: Gilroy;
	font-weight: 700;
	color: white;
	padding: 20vw 5vw;




}

h1 span{
	color: maroon;
}


.page1{
	width: 100%;
	height: 100%;
	background: black;
	display: flex;
	position: relative;
	padding-top: 4vw;

}
.pleft{
	width: 50%;
	height: 100%;
	
	
	

}

.pleft img{
	
	width: 500px;
	height: 500px;
	padding: 3vw 5vw;
	
	filter: drop-shadow(20px 30px 10px silver);

}




.pright{
	width: 50%;
	height: 100%;
}
.pright h1{
	font-size: 4vw;
	font-family: Gilroy;
	font-weight: 700;
	color: white;
	padding: 2vw 5vw;



}

.pright h1 span{
	color: maroon;
}
.pright p{
	color: white;
	padding: 1vw  5vw;

}
.pright h2{
	color:maroon;
	font-size: 1vw;
	font-family: Gilroy;
	font-weight: 600;
	padding: 1vw 5vw;
	display: inline-block;

}

.pright h2:hover{
	border-bottom: 2px solid red;
	cursor: pointer;
}


.pright h3{
	color: pink;
	font-size: 1vw;
	padding: 1vw 5vw;

}


.content h1{
	width: 100%;
	height: 100px;
	
	color: white;
	font-size: 4vw;
	display: flex;
	justify-content: center;

}

.content h1 span{
	color: red;
}
.page2{

     height: 100%;
     width: 100%;
     display: flex;
     justify-content: center;
     position: relative;
     gap: 5vw;

}




.card{

	width: 20%;
	height: 50%;
	
	flex-direction: column;
	
	border: 1px solid white;


	padding: 2vw 2vw;
	background:white;
	border-radius: 5%;



}
.card h2{
	font-size: 1.8vw;
	color:black;
	
	padding: 1vw 0vw;
}





.card p{

	font-size: 1vw;
	color:black;
	padding: 1vw 0vw;



}
.card h3{

	font-size: 1.5vw;
	color:black;
	border-bottom: 2px solid black;
	width: 50%;
}

.card h3:hover{
	color: white;
	border-bottom: 2px solid white;
	width: 50%;

}
.card:hover{

	background:deeppink;
	transition: ease-in 1s;
	border: 3px solid snow;
	

}

.contact h1{
	width: 100%;
	height: 100px;
	font-size: 5vw;
	color: white;



}

.page3{
	width: 100%;
	height: 100%;
	background: black;
	display: flex;
	justify-content: center;


}

.loginpage{
	
	

	width: 50%;
	height: 50%;
	padding:10vw  0;
	color: white;

	
	

	
}
.loginpage input{
	width: 100%;
	height: 10%;
	padding: 3vw;
	border: 2px solid white;
	background: black;
	color: white;
	font-size: 2vw;
	border-radius: 10px;

	


}
.loginpage input:hover{
	background:deeppink;
	color: white;
	transition: .8s ease-out;
	border: 3px solid white;

}

@media (max-width:1000px){
html,body{
	background: black;
	width: 100%;
	height: 100%;
	
}
.right img{


	width: 50%;
	height: 40%;
	
}



.pleft img{
	
	width: 400px;
	height: 400px;
	

}

.card{

	width: 25%;
	height: 35%;
	

}


.content{
	padding-top: 20vw;
}


}

@media(max-width:850px){

	html,body{
	
	width: 100%;
	height: 100%;

}


.navl{
	font-size: 1.5vw;
}




.homepage{

     height: 100%;
     width: 100%;
     
     flex-direction: column;
    



}

.left{
	width: 100%;
	height: 40%;
	text-align: center;
}

.left h2{
	
	font-size: 5vw;
	font-weight: 700;
}
.right{
	width: 100%;
	height: 60%;


}

.right img{

width: 400px;
height: 400px;
border-radius: 0;
filter: drop-shadow(0px 0px 0px);




	
}


.page1{
	width: 100%;
	height: 100%;
	flex-direction: column;
	

}

.pleft{
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	justify-items: center;

	
	
	

}

.pleft img{

	width:450px;
	height:450px;
	filter: drop-shadow(5px  5px 5px white);
	



	
	

}

.work h1{
	padding-top: 30vw;
}


.pright{
	width: 100%;
	height: 50%;
	text-align: center;
	padding-top: 10vw;
}


.pright h1{
	font-size: 4vw;
	padding-top: 10vw;
	



}
.pright h2{
	font-size: 4.5vw;

}
.pright h3{

	font-size: 3.5vw;

}
.pright p{

	font-size: 3vw;

}

.page2{
	padding-top: 20vw;

    
flex-direction: column;
display: flex;
	justify-content: center;
	align-items: center;
	



}

.card{

	width: 60%;

	

	
}

.card h2{
	font-size: 4vw;
}
.card p{
	font-size: 1.5vw;
}
.card h3{
	font-size: 3vw;
}


.contact{
	margin-top: 10px;
}
.page3{
	margin-top: 100px;

}







}

@media(max-width:600px){
	 h1{
		font-size: 6vw;
	}
	.navl{
		font-size: 2vw;
	}
	.left h2{
		font-size: 8vw;
	}
	.pright h1{
		padding-top: 20vw;
	}




.card h2{
	font-size: 5vw;
}
.card p{
	font-size: 2vw;
}
.card h3{
	font-size: 4vw;
}



}
@media(max-width:460px){


	.card h2{
	font-size: 5vw;
}
.card p{
	font-size: 3vw;
}
.card h3{
	font-size: 4vw;
}

}











































